.footerContainer {
    width: 100%;
}

.footerAsciiContainer {
    position: relative;
}

.footerAscii {
    width: 100%;
    display: block;
    position: absolute;
    bottom: 1em;
    opacity: 40%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--header-base-color);
    padding: 1em;
}

.footerText {
    margin: 0;
}