.graphicWrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 60vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    pointer-events: none;
}

.graphic {
    max-width: 80%;
    max-height: 80%;
    width: auto;
    height: auto;
    margin-right: 2em;
    margin-top: 9em;
    object-fit: contain;
    pointer-events: none;
}

@media (max-width: 1000px) {
    .graphic {
        display: none;
    }
}