.asciiWrapper {
    position: absolute;
    bottom: -13em;
    left: 0;
    width: 100%;
    z-index: -1000;
    overflow: hidden;
    pointer-events: none;
}

.ascii {
    display: block;
    width: 100%;
    height: auto;
    opacity: 45%;
    pointer-events: none;
}
