.svgElementWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1440px) {
    .svgElement {
        max-width: 80%;
        max-height: 80%;
    }

}