.passwordField {
    display: flex;
    align-items: center;
    border: 0.1em solid var(--text-color);
    width: 60%;
    height: 3.5vh;
}

.passwordInput {
    margin-left: 0.5em;
    flex: 1;
    border: none;
    outline: none;
    font-size: calc(var(--page-font-size) - 0.5vw);
    font-family: var(--font-family) sans-serif;
}

.toggleButton {
    background: none;
    border: none;
    cursor: pointer;
    padding-right: 1.5em;
}

.icon {
    width: 2.5em;
    height: 2.5em;
}

@media (max-width: 768px) {
    .icon {
        width: 1.5em;
        height: 1.5em;
    }
}