.priceOptionBox {
    width: calc(50% + 4.5em);
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background: var(--background-color);
    border: 0.1em solid var(--text-color);
}

.priceOptionBox::after {
    content: "";
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    right: -0.5em;
    bottom: -0.5em;
    background-color: var(--text-color);
    z-index: -1;
}

.priceOptionBoxTitle {
    font-size: calc(var(--page-font-size) + 0.5vw);
    margin-top: 1.25em;
}

.priceOptionBoxText {
    margin-top: 1.5em;
    font-size: var(--page-font-size);
    margin-bottom: 4.5em;
}

.priceOptionBoxButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-bottom: 1.75em;
    z-index: 100;
}