.loginBox{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    width: 70%;
    gap: 3em;
    border: 0.1em solid var(--text-color);
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    background: var(--background-color);
}

.loginBox::after {
    content: "";
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    right: -0.5em;
    bottom: -0.5em;
    background-color: var(--text-color);
    z-index: -1;
}

.loginTitle {
    font-size: calc(var(--page-title-font-size) - 0.5vw);
    margin-bottom: 0.7em;
    font-weight: 500;
}

.loginBoxItem {
    display: flex;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
}

.loginBoxItemName {
    padding-right: 2em;
    width: 25%;
    font-size: calc(var(--page-font-size)- 0.5vw);
    text-align: end;
}

.loginBoxItemButton {
    z-index: 100;
    margin-bottom: -2em;
}

.loginBoxItemLink {
    margin-top: 1.5em;
}

.loginLink {
    text-decoration: none;
    color: var(--text-color);
}

.loginLink:hover {
    color: var(--accent-color);
    font-weight: 600;
}

.loginBoxItemError{
    font-size: calc(var(--page-font-size));
    color: var(--error-color);
    margin-bottom: -1em;
    text-align: center;
    margin-right: 1em;
    margin-left: 1em;
}