.campaignOverviewContent {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: 1em auto;
    border: 0.1em solid var(--text-color);
}

.campaignOverviewContent::after {
    content: "";
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    right: -0.5em;
    bottom: -0.5em;
    background-color: var(--text-color);
    z-index: -1;
}

.campaignOverviewTitle {
    margin-top: 1em;
    display: flex;
    justify-content: center;
}