.analyticsChartChild {
    align-self: stretch;
    height: 8.331rem;
    position: relative;
    background-color: var(--color-white);
    border: 3px solid var(--color-black);
    box-sizing: border-box;
    display: none;
    z-index: 0;
}
.frameChild,
.frameInner,
.frameItem {
    position: absolute;
    top: 0;
    background-color: var(--color-black);
    width: 0.25rem;
    height: 0.25rem;
    z-index: 1;
}
.frameChild {
    left: 0;
}
.frameInner,
.frameItem {
    left: 0.413rem;
}
.frameInner {
    left: 0.831rem;
}
.rectangleParent {
    height: 0.25rem;
    width: 1.125rem;
    position: relative;
}
.analyticsChartInner {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-7xs);
}
.analyticsChartItem {
    align-self: stretch;
    height: 0.125rem;
    position: relative;
    border-top: 2px solid var(--color-black);
    box-sizing: border-box;
    z-index: 1;
}
.rectangleDiv {
    width: 2.063rem;
    height: 4.375rem;
    position: absolute;
    margin: 0 !important;
    top: 1.5rem;
    left: 0.688rem;
    background-color: var(--color-white);
    border: 2px solid var(--color-black);
    box-sizing: border-box;
    z-index: 2;
}
.vectorIcon,
.vectorIcon1 {
    width: 0.75rem;
    height: 0.313rem;
    position: absolute;
    margin: 0 !important;
    top: 2.969rem;
    left: 1.975rem;
    z-index: 4;
}
.vectorIcon1 {
    width: 1.375rem;
    height: 0.381rem;
    top: 2.869rem;
    left: 0.75rem;
    z-index: 5;
}
.analyticsChart,
.analyticsChartChild1 {
    margin: 0 !important;
    position: absolute;
    background-color: var(--color-white);
    box-sizing: border-box;
}
.analyticsChartChild1 {
    width: 8.313rem;
    height: 1.875rem;
    top: 1.5rem;
    right: 0.813rem;
    border: 2px solid var(--color-black);
    z-index: 2;
}
.analyticsChart {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 3px solid var(--color-black);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-6xs-7) 0 var(--padding-6xs);
    gap: var(--gap-7xs-3);
}
.profileElementsChild {
    top: 1.563rem;
    left: 0;
    border-top: 2px solid var(--color-black);
    box-sizing: border-box;
    width: 1.938rem;
    height: 0.125rem;
}
.profileElementsChild,
.stuffIcon,
.vectorIcon2 {
    position: absolute;
    z-index: 3;
}
.vectorIcon2 {
    top: 0;
    left: 0.375rem;
    width: 1.063rem;
    height: 1.188rem;
}
.stuffIcon {
    top: 2.188rem;
    left: 0.125rem;
    width: 1.5rem;
    height: 1.125rem;
}
.profileElements {
    height: 3.313rem;
    width: 1.813rem;
    position: relative;
}
.frameChild1,
.frameChild2,
.frameChild3,
.lineDiv {
    width: 5.313rem;
    height: 0.125rem;
    position: relative;
    border-top: 2px solid var(--color-black);
    box-sizing: border-box;
    z-index: 3;
}
.frameChild1,
.frameChild2,
.frameChild3 {
    width: 4.563rem;
}
.frameChild2,
.frameChild3 {
    width: 5.75rem;
}
.frameChild3 {
    width: 3.313rem;
}
.frameWrapper,
.lineParent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.lineParent {
    flex-direction: column;
    gap: var(--gap-10xs);
}
.frameWrapper {
    flex-direction: row;
    padding: 0 var(--padding-7xs);
}
.visualElementsChild {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-white);
    border: 2px solid var(--color-black);
    box-sizing: border-box;
    width: 1.875rem;
    height: 1.875rem;
    z-index: 2;
}
.vectorIcon3 {
    position: absolute;
    top: 0.375rem;
    left: 0.438rem;
    width: 1rem;
    height: 1.125rem;
    z-index: 3;
}
.vectorIcon4,
.vectorIcon5 {
    position: absolute;
    top: 1.313rem;
    left: 1.188rem;
    width: 0.688rem;
    height: 0.313rem;
    z-index: 4;
}
.vectorIcon5 {
    top: 1.25rem;
    left: 0.063rem;
    width: 1.25rem;
    z-index: 5;
}
.visualElementsItem {
    position: absolute;
    top: 2.063rem;
    left: 0;
    background-color: var(--color-white);
    border: 2px solid var(--color-black);
    box-sizing: border-box;
    width: 1.875rem;
    height: 1.875rem;
    z-index: 2;
}
.vectorIcon6 {
    position: absolute;
    top: 2.438rem;
    left: 0.438rem;
    width: 1rem;
    height: 1.125rem;
    z-index: 3;
}
.vectorIcon7,
.vectorIcon8 {
    position: absolute;
    top: 3.375rem;
    left: 1.188rem;
    width: 0.688rem;
    height: 0.313rem;
    z-index: 4;
}
.vectorIcon8 {
    top: 3.313rem;
    left: 0.063rem;
    width: 1.25rem;
    z-index: 5;
}
.visualElements {
    height: 3.938rem;
    width: 1.875rem;
    position: relative;
}
.frameChild4,
.groupIcon {
    align-self: stretch;
    height: 0.625rem;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 2;
}
.frameGroup {
    align-self: stretch;
    flex-direction: column;
    gap: var(--gap-4xl);
}
.frameContainer,
.frameGroup,
.visualElementsParent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.frameContainer {
    flex: 1;
    flex-direction: column;
    padding: var(--padding-7xs) 0 0;
}
.visualElementsParent {
    align-self: stretch;
    flex-direction: row;
    gap: var(--gap-8xs);
}
.frameParent {
    align-self: stretch;
    flex-direction: column;
    gap: var(--gap-5xs);
}
.frameParent,
.profilesBottom,
.socialNetowrkProfiles {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.profilesBottom {
    width: 7.813rem;
    flex-direction: column;
    padding: var(--padding-12xs) 0 0;
    box-sizing: border-box;
}
.socialNetowrkProfiles {
    flex: 1;
    flex-direction: row;
    padding: var(--padding-12xl) var(--padding-smi) var(--padding-sm-3);
    position: relative;
    gap: var(--gap-xs);
    z-index: 2;
}