.productOptionPageContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 0.1em solid var(--text-color);
    height: 70vh;
    background: var(--background-color);
    padding-bottom: 2em;
    box-sizing: border-box;
}

.tabs {
    display: flex;
    width: 100%;
    justify-content: space-around;
    border-bottom: 0.1em solid var(--text-color);
}

.tab {
    flex: 1;
    padding: 0.5em;
    text-align: center;
    border: none;
    background: transparent;
    font-size: calc(var(--page-font-size) + 0.2vw);
    cursor: pointer;
    outline: none;
    border-right: 0.07em solid var(--text-color);
}

.tab:last-child {
    border-right: none;
}

.active {
    background-color: var(--accent-color);
}
