.searchContainer {
    width: 100%;
    height: 3vw;
    display: flex;
    gap: 0.5em;
    align-content: center;
    justify-content: center;
    align-items: center;

}

.searchInput {
    width: 100%;
    height: 100%;
    border: 0.15em solid var(--text-color);
    outline: none;
    padding: 0.5em;
    box-sizing: border-box;
    font-size: calc(var(--page-font-size) - 0.3vw);
}

.searchInput:focus {
    border-color: var(--accent-color);
}

.searchInputButton {
    border: 0.15em solid var(--text-color);
    font-size: calc(var(--page-font-size) - 0.3vw);
    background: var(--background-color);
    max-height: 3vw;
    height: 3vw;
}

.searchInputButton:hover {
    background: var();
}