.pricingContentTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

.decorativeCircle {
    position: absolute;
    z-index: -100;
    bottom: 6.5em;
    left: -15em;
    width: 45em;
    height: 45em;
    border-radius: 50%;
    background-color: var(--accent-color);
    border: 0.1em solid var(--text-color);
    pointer-events: none;
}

.decorativeCircle2 {
    position: absolute;
    z-index: -100;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45em;
    height: 45em;
    border-radius: 50%;
    background-color: var(--accent-color);
    border: 0.1em solid var(--text-color);
    pointer-events: none;
}

.decorativeCircle3 {
    position: absolute;
    z-index: -100;
    bottom: 6.5em;
    right: -15em;
    width: 45em;
    height: 45em;
    border-radius: 50%;
    background-color: var(--accent-color);
    border: 0.1em solid var(--text-color);
    pointer-events: none;
}

.errorMessage {
    position: relative;
    color: var(--error-color);
    text-align: center;
    font-size: calc(var(--page-font-size));
    z-index: 10;
    margin-top: 0.75em;
}

.pricingPopup {
    position: absolute;
    top: 9%;
    left: 11%;
    width: 100%;
    height: 100%;
    z-index: 1000;
}