.paymentPageTitle{
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    margin-top: 1em;
}

.paymentPageContent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    width: 30vw;
    padding: 3em;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    border: 0.1em solid var(--text-color);
    background: var(--background-color);
}

.paymentPageContent::after {
    content: "";
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    right: -0.5em;
    bottom: -0.5em;
    background-color: var(--text-color);
    z-index: -1;
}