.productOverviewTitle {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.productOverviewContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: 2em auto;
}