.organisationOverviewContainer {
    width: 100%;
}

.organisationOverviewContent{
    position: relative;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: 2em auto;
}

.organisationOverviewPageTitle{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}