
.campaignContentAdditionContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1em;
    border: 0.1em solid var(--text-color);
    background: var(--background-color);
    padding-bottom: 2em;
    padding-right: 2em;
    padding-left: 2em;
}

.campaignContentAdditionContainer::after {
    content: "";
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    right: -0.5em;
    bottom: -0.5em;
    background-color: var(--text-color);
    z-index: -1;
}

.campaignContentAdditionTitle {
    font-size: calc(var(--page-font-size) + 0.5vw);
    margin-bottom: 0.5em;
    margin-top: 1em;
    font-weight: 500;
    text-align: center;
}

.campaignContentAddition {
    width: 100%;
}

.campaignContentAdditionBody {
    display: grid;
    grid-template-columns: max-content 1fr; /* First column for labels, second for inputs/values */
    gap: 1em;
    width: 100%;
    margin-bottom: 1em;
    font-size: var(--page-font-size);
    align-items: center; /* Centers items vertically in their grid cells */
}

.campaignContentAdditionContainerButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2em;
}

.campaignContentAdditionContainerBox {
    display: flex;
    align-items: center;
    gap: 0.5em;
    width: 100%;
    overflow-x: auto;
    height: auto;
}

.label {
    text-align: right;
    padding-right: 1em;
}

.value {
    display: flex;
    border: 0.1em solid var(--text-color);
    padding: 0.5em;
}

.valueSelection{
    display: flex;
    border: 0.1em solid var(--text-color);
    padding: 1em;
}

.campaignContentSelectionButtons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}
