.campaignContentArchiveContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
    gap: 1em;
    border: 0.1em solid var(--text-color);
    background: var(--background-color);
    padding: 0 2em 2em 2em;
    box-sizing: border-box;
    overflow: hidden;
}
