.campaignOverviewContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.1em solid var(--text-color);
    padding: 2em;
    background: var(--background-color);
    cursor: pointer;
    z-index: auto;
}

.campaignOverviewTitle{
    font-size: calc(var(--page-font-size) + 0.3vw);
    font-weight: 500;
    margin-bottom: 0.5em;
}

.campaignOverviewIcon{
    width: 8vw;
    height: 8vw;
    pointer-events: none;
    user-select: none;
}

.campaignOverviewIconBackground{
    background: var(--header-base-color);
    border: 0.1em solid var(--text-color);
    width: 18vw;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vw;
}

.campaignOverviewContainer:hover .campaignOverviewIconBackground{
    background: var(--accent-color);
}

.campaignOverviewProductName{
    font-weight: 600;
}