.campaignAdditionButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: auto;
    border: 1.5em solid var(--text-color);
    cursor: pointer;
}

.campaignAdditionIcon {
    width: 6.5em;
    height: 6.5em;
}