.postOverviewContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    border: 0.1em solid var(--text-color);
    height: 70vh;
    background: var(--background-color);
    padding-bottom: 2em;
    box-sizing: border-box;
}

.postOverviewButtons{
    display: flex;
    gap: 2em;
}

.postOverviewDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    margin-top: 3em;
}

.tabs {
    display: flex;
    width: 100%;
    justify-content: space-around;
    border-bottom: 0.1em solid var(--text-color);
}

.tab {
    flex: 1;
    padding: 0.5em;
    text-align: center;
    border: none;
    background: transparent;
    font-size: calc(var(--page-font-size) + 0.2vw);
    cursor: pointer;
    outline: none;
    border-right: 0.07em solid var(--text-color);
}

.tab:last-child {
    border-right: none;
}

.active {
    background-color: var(--accent-color);
}

.valueBox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    width: 100%;
}

.valueInput {
    flex: 1;
    border: 0.1em solid var(--text-color);
    padding: 0.75em 1em;
    width: 50vw;
    font-size: calc(var(--page-font-size) - 0.4vw);
    font-weight: normal;
}

.valueInput:focus {
    border: 0.1em solid var(--accent-color);
    outline: none;
}

.valueLabel {
    text-align: right;
    width: 5vw;
    font-size: var(--page-font-size);
}