.postsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
    gap: 1em;
    border: 0.1em solid var(--text-color);
    background: var(--background-color);
    padding-top: 2em;
    padding-bottom: 2em;
    box-sizing: border-box;
}

.postsContainerSite {
    display: flex;
    text-align: center;
    font-size: calc(var(--page-font-size) + 0.2vw);
    font-weight: 500;
    color: var(--header-base-color);
}

.postsContainerTitle {
    display: flex;
    text-align: center;
    font-size: calc(var(--page-font-size) + 0.6vw);
    font-weight: 600;
}

.postsContainerText {
    display: flex;
    text-align: center;
    font-size: calc(var(--page-font-size) - 0.5vw);
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.postsContainerButtons {
    align-items: center;
    justify-items: center;
    display: flex;
    gap: 1em;
    margin-top: 1em;
}

.postsContainerTitleInput {
    outline: none;
    border: 0.15em solid var(--text-color);
    padding: 0.5em;
    width: 100%;
    box-sizing: border-box;
}

.postsContainerTitleTextarea {
    outline: none;
    border: 0.15em solid var(--text-color);
    padding: 0.5em;
    resize: none;
    width: 100%;
    height: 150px;
    overflow-y: auto;
    box-sizing: border-box;
}
