.analyticsStatisticsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 2em;
}

.analyticsStatisticsContainerTitle{
    text-align: center;
}

.analyticsStatisticsContainerContent{
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}
